.cart-page {
  padding-left: 90px !important;
  padding: 5rem 3rem 3rem ;
}
.cart__inner {
  display: flex !important;
}
.cart__items {
  flex: 0 0 50%;
  display: flex;
  flex-flow: column nowrap;
}
.cart__items {
  flex: 0 0 50%;
  display: flex;
  flex-flow: column nowrap;
}
.cartItem {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  background: #fff;
  border-radius: .5rem;
  overflow: hidden;
  box-shadow: 0 .25rem .5rem rgba(26,26,44,.05);
  transition: all .2s;
}
.cartItem__image {
  flex: 0 0 30%;
  height: 0;
  padding-bottom: 30%;
  position: relative;
}
.cartItem__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 1rem;
  position: absolute;
}
.cartItem__details {
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 120px;
}
.cartItem__footer {
  display: flex;
  margin-top: auto;
  align-items: baseline;
}
.cartItem__price {
  margin: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.cartItem__buttons {
  margin-left: auto;
  border-radius: .25rem;
  overflow: hidden;
  background: #fafafa;
  box-shadow: 0 .15rem .25rem rgba(26,26,44,.05);
  white-space: nowrap;
}
.cartItem__buttons button {
  background: #eee;
  border: none;
  width: 1.5rem;
  height: 1.5rem;
  font-size: .85rem;
  transition: all .2s;
}
.cart-input {
  width: 25px !important;
  padding: 0px !important;
  text-align: center !important;
  border: none;
}
.buttonRed {
  background: #dc143c;
  color: #fff;
  border: none;
  height: 1.5rem;
  border-radius: .25rem;
  margin-left: .5rem;
}
.btnremove {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentColor;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: 1.5rem;
}
.cart__checkout {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(50% - 2rem);
  background: #fff;
  margin-left: 2rem;
  border-radius: .5rem;
  box-shadow: 0 .25rem .5rem rgba(26,26,44,.05);
  align-self: flex-start;
  padding: 2rem;
}
.cart__total {
  font-size: 1.5rem;
  font-weight: 900;
  margin-top: 2rem;
  margin-bottom: .25rem;
}
.checkbtn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  display: flex;
  align-items: center;
  padding: 16px 20px 16px 15px;
  height: 56px;
  position: relative;
  font-family: inherit;
  font-size: 1em;
  line-height: 1em;
  font-weight: 500;
  background-color: white;
  cursor: pointer;
  border-radius: 32px;
  /* box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25); */
  -webkit-tap-highlight-color: transparent;
}
.checkbtn:focus {
  outline: none;
}
.checkbtn:hover, .checkbtn:active {
  background-color: green;
}

#cart {
  margin-right: 12px;
  transform-origin: 20% 100%;
  opacity: 1;
}

@keyframes slide-up-fade {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-16px);
    opacity: 0;
  }
}
@keyframes roll-out {
  0% {
    transform: translate(0) rotate(0);
  }
  20% {
    transform: translate(0) rotate(-70deg);
    opacity: 1;
  }
  50% {
    transform: translate(0) rotate(-45deg);
    opacity: 1;
  }
  100% {
    transform: translate(140px) rotate(-47deg);
    opacity: 0;
  }
}
.checked-out span {
  animation: slide-up-fade 150ms 1;
  animation-fill-mode: both;
}

.checked-out #cart {
  animation: roll-out 1s 1 150ms;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
}

@keyframes checkmark {
  from {
    stroke-dashoffset: 26px;
  }
  to {
    stroke-dashoffset: 0;
  }
}
#check {
  position: absolute;
  left: calc(50% - 12px);
}

#check path {
  stroke-dasharray: 26px;
  stroke-dashoffset: 26px;
}

.checked-out #check path {
  animation: checkmark 150ms 1 1150ms;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
}

.checked-out .checkbtn {
  background-color: #20bf6b;
  transition-delay: 1150ms;
}