.head-conatiner {
    display: flex;
    gap: 5px;
}

  
  .logo{
    text-decoration: none;
    font-family: 'Lobster Two', cursive;
    font-style: italic;
  
  }
  .cartIcon{
    padding: 0px 30px;
  }
/*  */
  
  
  .magnifierContainer {
    display: none;
  }
  
  aside input {
    padding: .5rem 1rem;
    /* width: 100%; */
    width: 200px;
  }
  
  .open {
    display: block;
    transition: display 0.35s ease-out;
  }
  
  .close {
    display: none;
    transition: display 0.35s ease-out;
  }
  
  
  .search-bar {
    display: inline-flex;
    flex-wrap: nowrap !important;
    flex-direction: row;
    gap: 20px;
    justify-content: end;
}
  @media screen and (max-width: 600px) {
    
    .magnifierContainer {
      display: block;
    }
    aside input {
      width: 100%;
    }

  }
  
  