*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body {
  margin: 0% 10%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FAFAFA !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h4{
  font-size: 1rem;
  color: rgb(56, 56, 56);
}
h3{
  font-size: 1.5rem;
  color: rgb(56, 56, 56);
  line-height: 2.5 rem;
  margin: 2rem 0rem;
}
a{
text-decoration: none !important;


}
.catergory-bar {
  width: max-content !important;
}
.cat-btn{
  border: none;
  flex: 0 0 auto !important;
    font-size: 1.15rem !important;
    position: relative !important;
    padding: 1rem !important;
    opacity: .5 ;
    transition: opacity .2s !important;
    cursor: pointer !important;
    text-transform: capitalize !important;
   
}
.cat-active{
  font-weight: 700;
  opacity: 1;
}
.paginatin {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
}
.header-top{
padding: 3%;
padding-top: 0px !important;
}
.productpage{
  display: flex;
}
.productpage-image img{
  height: 622px !important;
  width: 422px !important;
  object-fit: contain;
} 
.productpage h1{
  font-size: 1.25rem;
  font-weight: 800;
} 
.productpage span{
  font-size: 16px !important;
  font-weight: 400 !important;
padding: 2rem 3rem 3rem 0rem;
display: flex;
flex-flow: column nowrap;
margin: 0;
font-family: "Nunito Sans",sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
color: black;
overflow: hidden;
    height: 400px;
}
.allitems {
    font-size: 40px;
    font-family: 'Lobster Two', cursive;;
    font-style: italic;
    font-weight: 500;
    color: black;
    text-align: left;
    
   
}


 .productpage-image img{
  height: 100%;
  width: 100%;
  object-fit: contain;
} 
.spinnerdiv {
  position: absolute;
  right: 50%;
  top: 50%;
}
.checkout-page{
display: flex;

}
.info{
  width: 50%;
  display: flex;
  flex-direction: column;
  
}
.summary{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
 

}
.border-none{
border: none !important;
}

.addtocart-btn{
  background: #f90;
  color: #fff;
  border: 0;
  border-radius: 4px;
  overflow: hidden;
  margin-top: auto;
  margin: 0px 8%;
  display: flex;
  align-items: center;
  transition: background 0.2s;
}
.starts{
font-size: 16px !important;
line-height: .5 !important;

}
.start-span{
  opacity: .5;
}
/* .search-bar {
  float: right !important;
} */

.sidenav---sidenav-toggle---1KRjR .sidenav---icon-bar---u1f02{
  background-color: black !important;
}
.sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ-:hover > .sidenav---navitem---9uL5T .sidenav---navicon---3gCRo, .sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ-:hover > .sidenav---navitem---9uL5T .sidenav---navtext---1AE_f, .sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ-.sidenav---highlighted---oUx9u > .sidenav---navitem---9uL5T .sidenav---navicon---3gCRo, .sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ-.sidenav---highlighted---oUx9u > .sidenav---navitem---9uL5T .sidenav---navtext---1AE_f {
  color: black !important;
}
.sidenav---sidenav---_2tBP *, .sidenav---sidenav---_2tBP *:before, .sidenav---sidenav---_2tBP *:after{
  background-color: transparent !important;
}
.sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T .sidenav---navtext---1AE_f > * {
  color: black !important;
}
.sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T .sidenav---navtext---1AE_f {
  color: black !important;
}
.sidenav---navicon---3gCRo{
opacity: 1 !important;
}
svg.star {
  font-size: 15px;
  color: rgb(255, 153, 0);
}

  .sidenav---sidenav---_2tBP {
    position: fixed !important;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1006;
    min-width: 64px;
    background: white !important;
    transition: min-width 0.2s;
}

.margin-top {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.orders {
  width: 32%;
}
.order-container {
  display: flex;
  width: 80%;
  overflow: hidden;
}
.order-images img {
  height: 100px !important;
  flex-direction: row;
  display: flex;
}
.MuiBox-root{
  max-width: 50% !important;
 
}
@media screen and (max-width: 800px) {
  body {
      height: auto;
  }
  .productpage{
    display: flex;
    flex-direction: column-reverse;
  }
  .header{
    margin-bottom: 400px;
  
  }
  .form-label {
    width: 18% !important;
}
}

@media screen and (max-width: 600px) {
  body {
      height: auto;
  }
  
  .home-page {

    padding-left: 0px !important;
  }
}

